<p id="notice"><%= notice %></p>

<h1>Listing Suscripciones</h1>

<table>
  <thead>
    <tr>
      <th>Fecha inicio</th>
      <th>Fecha termino</th>
      <th>Precio</th>
      <th>Estado</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suscripciones.each do |suscripcion| %>
      <tr>
        <td><%= suscripcion.fecha_inicio %></td>
        <td><%= suscripcion.fecha_termino %></td>
        <td><%= suscripcion.precio %></td>
        <td><%= suscripcion.estado %></td>
        <td><%= suscripcion.usuario %></td>
        <td><%= link_to 'Show', suscripcion %></td>
        <td><%= link_to 'Edit', edit_suscripcion_path(suscripcion) %></td>
        <td><%= link_to 'Destroy', suscripcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suscripcion', new_suscripcion_path %>
